.h2 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
}
.table_result table {
	width:100%;
	margin:15px 0;
	border:0;
	float:center;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
}
.table_result th {
	background-color:#87CEFA;
	color:#000000
}
.table_result,.table_result th,.table_result td {
	font-size:0.95em;
	text-align:center;
	padding:4px;
	border-collapse:collapse;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
}
.table_result th,.table_result td {
	border: 1px solid #bae3fc;
	border-width:1px 0 1px 0
}
.table_result tr {
	border: 1px solid #bae3fc;
}
.table_result tr:nth-child(odd){
	background-color:#d7eefd;
}
.table_result tr:nth-child(even){
	background-color:#fdfdfd;
}
