div {
    float:center;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-color: #2c3e50;
}
.table_result table {
	width:200%;
	border:0;
	float:center;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
}
.table_result th {
	background-color:#18bc9c;
	color:#FFFFFF
}
.table_result,.table_result th,.table_result td {
	font-size:0.95em;
	text-align:center;
	padding:4px;
	border-collapse:collapse;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-color: #2c3e50;
}
.table_result th,.table_result td {
	border: 1px solid #2c3e50;
	border-collapse:collapse
}

